html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.head {
  height: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: gold;
  box-shadow: 10px 10px 10px gold;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.karate {
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: gold;
  border: black dotted 3px;
  box-shadow: 10px 10px 10px gold;
  text-align: center;
  color: red;
  font-size: 50px;
}

.spacer {
  height: 10px;
}

.box1 {
  flex: 1;
  height: 20px;
  min-width: 10px;
  max-width: 100px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

.box1:hover {
  color: red;
}

.box2 {
  flex: 1;
  height: 20px;
  min-width: 10px;
  max-width: 100px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

.box2:hover {
  color: red;
}

.box3 {
  flex: 1;
  height: 20px;
  min-width: 10px;
  max-width: 100px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

.box3:hover {
  color: red;
}

.box4 {
  flex: 1;
  height: 20px;
  min-width: 10px;
  max-width: 100px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

.box4:hover {
  color: red;
}

.box5 {
  flex: 1;
  height: 20px;
  min-width: 10px;
  max-width: 100px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

.box5:hover {
  color: red;
}

.box6 {
  flex: 1;
  height: 20px;
  min-width: 10px;
  max-width: 100px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}

.box6:hover {
  color: red;
}

.in {
  display: none;
  flex: 1;
}

.menu {
  position: absolute;
  top: 5px;
  left: 5px;
}

.grad {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background: linear-gradient(to top, black, gray, lightgray);
}

.topright {
  position: absolute;
  top: 5px;
  right: 5px;
}

img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .in {
   position: absolute;
   flex: 1;
}
.topright {
  display: none;
}

}
