html {
  height: 500%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.head {
  position: fixed;
  height: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: gold;
  text-align: center;
  box-shadow: 2px 2px 20px 2px #dea407 inset;
  display: flex;
  flex-wrap: wrap;
}

.Fire {
  height: 50px;
  width: 90%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  height: 20px;
  min-width: 10px;
  max-width: 100px;
  margin-top: auto;
  margin-left: auto;
  text-align: center;
}

.box1:hover {
  color: red;
}

.box2 {
  height: 20px;
  min-width: 10px;
  max-width: 80px;
  margin-top: auto;
  margin-left: auto;
  text-align: center;
}

.box2:hover {
  color: red;
}

.box3 {
  height: 20px;
  min-width: 10px;
  max-width: 80px;
  margin-top: auto;
  margin-left: auto;
  text-align: center;
}

.box3:hover {
  color: red;
}

.box4 {
  height: 20px;
  min-width: 10px;
  margin-top: auto;
  margin-left: auto;
  text-align: center;
}

.box4:hover {
  color: red;
}

.box5 {
  height: 20px;
  min-width: 10px;
  max-width: 80px;
  margin-top: auto;
  margin-left: auto;
  text-align: center;
}

.box5:hover {
  color: red;
}

.box6 {
  margin-top: auto;
  margin-left: auto;
}

.box6:hover {
  color: red;
}

.karate {
  position: absolute;
  height: 60px;
  width: 100%;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
  font-size: 70px;
}

.grad {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background: linear-gradient(to top, black, gray, lightgray);
}

img {
  height: 100%;
  width: 100%;
}

.grad2 {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background: linear-gradient(to top left, darkgray, gray, lightgray);
}

.Meet {
  height: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  color: red;
  padding-bottom: 80px;
  padding-top: 140px;
  text-shadow: 2px 5px 8px black;
  font-size: 50px;
}

.red {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blue {
  flex: 1;
}

.circle {
  height: 70px;
  width: 70px;
  margin-top: 25px;
  margin-left: auto;
  border: solid 3px gold;
  border-radius: 50%;
  box-shadow: 5px 5px 5px gray;
}
.pic1 {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

 .text {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: auto;
  border: solid 2px;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  background-color: #f5d871;
  
}

.black1 {
  display: flex;
  height: 200px;
  width: 100%;
  margin-top: 10px;
}
.one {
  height: 180px;
  width: 200px;
}

.black2 {
  display: flex;
  height: 150px;
  width: 100%;
  margin-top: 10px;
}
.two {
  height: 130px;
  width: 200px;
}

.black3 {
  display: flex;
  height: 150px;
  width: 100%;
  margin-top: 10px;
}
.three {
  height: 130px;
  width: 200px;
}

.black4 {
  display: flex;
  height: 150px;
  width: 100%;
  margin-top: 10px;
}
.four {
  height: 130px;
  width: 200px;
}

p {
  font-size: 15px;
  font-family: arial, sans-serif;
}

.grad6 {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background: linear-gradient(to top, darkgray, gray, lightgray);
}

.con {
  height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
  padding-top: 140px;
  padding-bottom: 60px;
  font-size: 50px;
  text-shadow: 0 0 15px black;
}

.box {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.info17 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  box-shadow: -2px 2px 8px 10px #5e5e5c;
  text-align: center;
  padding: 10px;
}
.info18 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  box-shadow: -2px 2px 8px 10px #5e5e5c;
  text-align: center;
  padding: 10px;
}

.grad5 {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background: linear-gradient(to top right, darkgray, gray, lightgray);
}

.dojo {
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
  padding-top: 140px;
  padding-bottom: 80px;
  text-shadow: -2px 2px 8px black;
  font-size: 60px;
}

.row5 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info9 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}
.info10 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.row6 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.info11 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.info12 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}


.row7 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info13 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.info14 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.row8 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.info15 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.info16 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.grad3 {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background: linear-gradient(to top left, darkgray, gray, lightgray);
}

.teach {
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
  padding-top: 140px;
  padding-bottom: 80px;
  font-size: 50px;
  text-shadow: 5px 5px 10px black;
}

.orange {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.green {
  flex: 1;
}

.square {
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-left: auto;
  border: solid 3px gold;
}

 .script {
  margin-left: 25px;
  margin-right: auto;
  border: dotted 3px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  background-color: #f5d871;
  box-shadow: -1px 2px 10px 5px #fad348 inset;
}

.black5 {
  display: flex;
  height: 160px;
  width: 100%;
  margin-top: 10px;
}
.A {
  height: 120px;
  width: 200px;
  margin-top: 10px;
}

.black6 {
  display: flex;  
  height: 160px;
  width: 100%;
  margin-top: 10px;
}
.B {
  height: 120px;
  width: 200px;
  margin-top: 10px;
}

.black7 {
  display: flex;
  height: 160px;
  width: 100%;
  margin-top: 10px;
}
.C {
  height: 160px;
  width: 200px;
  margin-top: 10px;
}

.black8 {
  display: flex;
  height: 160px;
  width: 100%;
  margin-top: 10px;
}
.D {
  height: 110px;
  width: 200px;
  margin-top: 50px;
}


.grad4 {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  background: linear-gradient(to top left, darkgray, gray, lightgray);
}

.pictures {
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 80px;
  color: red;
  font-size: 60px;
text-shadow: 5px 5px 10px black;
}

.row {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info1 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}
.info2 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.row2 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.info3 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.info4 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}


.row3 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info5 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.info6 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.row4 {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.info7 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}

.info8 {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 5px black;
  text-align: center;
}
